
/**
 *
 * Hide Google CI
 * 
 */
.gdbar, slides > slide:not(.nobackground):before {
  display: none;
}

slides > slide.backdrop, slides > slide:not(.nobackground):before {
  background: white;
}

/** 
 *
 * Remove boring, slow Google transitions
 * 
 */

body, slides, slides > slide, .build > * {
  -webkit-transition: opacity 50ms ease-in;
  -webkit-transition-delay: 0;
  -moz-transition: opacity 50ms ease-in 0;
  -o-transition: opacity 50ms ease-in 0;
  transition: opacity 50ms ease-in 0;
}

.auto-fadein {
  -webkit-transition: opacity 0.6s ease-in;
  -webkit-transition-delay: 0;
  -moz-transition: opacity 0.6s ease-in 0;
  -o-transition: opacity 0.6s ease-in 0;
  transition: opacity 0.6s ease-in 0;
  opacity: 0;
}

/**
 *
 * Adjusting font size, as in Google's theme it is to small
 * Also, margins
 * 
 */

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: .75em;
}

slides > slide {
  font-size: 2.5em;
  color: #424242;
}

ul li {
  margin-bottom: 1em;
}

slides > slide > hgroup + article p {
  line-height: 1.15;
}


/**
 *
 * Custom styles
 * 
 */

.smaller-text-slide article ul li {
  margin-bottom: .75em;
  font-size: .6em;
}

.three-point-slide article ul li {
  margin-bottom: 2em;
}

.roadmap-list li {
  margin-bottom: .5em;
}

